.header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  background-color: var(--color-bg-header);
  border-color: var(--color-border);
  padding: 10px;
}

.headerLogo {
  margin: 5px;
  width: 120px;
  object-fit: contain;
  background-color: transparent;
}

.headerRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerRightIcon {
  margin-left: 5px;
  margin-right: 5px;
  color: var(--color-text-primary);
  cursor: pointer;
}

.headerRightAvatar {
  width: 30px !important;
  height: 30px !important;
  margin-left: 5px;
  margin-right: 5px;
  object-fit: contain;
  color: var(--color-text-primary);
  cursor: pointer;
  text-decoration: none !important;
}
